@layer base {
  html {
    font-family: var(--ff-primary);
    font-size: var(--fs-general);
    color: var(--col-primary);
    background-color: var(--bg-primary);
  }

  body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .wrapper {
    max-width: 1300px;
    margin: 0 auto;
  }

  .btn {
    border-radius: var(--rd-primary);
    border-width: 1px;
    border-style: solid;
    font-weight: bold;
    padding: 10px 28px;
  }
}
