html {
  font-family: var(--ff-primary);
  font-size: var(--fs-general);
  line-height: 1.5;
  color: var(--col-primary);
  background-color: var(--bg-primary);
}

body {
  min-height: 100vh;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: var(--fs-headline);
}

button {
  font: inherit;
}

b {
  font-weight: 600;
}

.wrapper {
  max-width: 1300px;
  margin: 0 auto;
}

.btn {
  border-radius: var(--rd-primary);
  border-width: 1px;
  border-style: solid;
  font-weight: bold;
  padding: 10px 28px;
  width: max-content;
  max-width: 100%;
}
