.overlay {
  position: fixed;
  z-index: 5;
  inset: 0;
  background-color: var(--bg-overlay);
  cursor: pointer;
  transition: backdrop-filter 0.2s linear, opacity 0.3s ease-in-out;
  backdrop-filter: blur(10px);
  opacity: 0;
  visibility: hidden;

  &[data-active] {
    opacity: 1;
    visibility: visible;
  }
}
