.megamenu-block-item {
  display: flex;
  align-items: start;
  gap: 16px;

  &:nth-of-type(n + 2) {
    margin-top: 33px;
  }

  & .item-icon {
    flex-shrink: 0;
    max-width: 32px;
    max-height: 32px;
    margin-top: 0.9ex;
  }

  & .item-content {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  & .item-title {
    font-family: var(--ff-secondary);
    color: var(--col-headline-2);
    font-weight: 500;
  }

  & .item-links-wrapper {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  & .link-items {
    display: inline-flex;
    align-items: center;
    gap: 10px;
  }

  & .link {
    color: var(--ac-secondary);
    background-color: var(--ac-secondary-bg);
    padding: 1px 4px;
    border-radius: var(--rd-primary);
  }
}
