.header-nav-megamenu {
  position: absolute;
  z-index: 10;
  width: 100%;
  background-color: var(--bg-secondary);
  inset: 100% 0 auto 0;
  border-bottom-left-radius: var(--rd-primary);
  border-bottom-right-radius: var(--rd-primary);
  overflow: hidden;

  display: grid;
  grid-template-columns: 2fr 1fr;

  /* transition: opacity 0.15s ease-in; */
  visibility: hidden;
  opacity: 0;
}
