@layer header-nav-main {
  .header-nav-items {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .header-nav-item {
    font-size: var(--fs-headline);
    padding: 30px 16px;
    color: var(--col-headline-1);

    &.has-megamenu .header-nav-link::after {
      content: url(../icons/icon-chevron-down.svg);
    }
  }

  .header-nav-link {
    display: inline-flex;
    align-items: center;
    line-height: 1;
  }
}
