.header-nav-items {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-nav-item {
  padding: 30px 16px;

  &:has(.header-nav-megamenu) > .header-nav-btn::after {
    content: url(../icons/icon-chevron-down.svg);
  }
}

.header-nav-btn {
  display: inline-flex;
  align-items: center;
  gap: 6px;
  font-size: var(--fs-headline);
  color: var(--col-headline-1);
}
