@layers megamenu-block, megamenu-item;
@import './megamenu-item.css' layer(megamenu-item);

@layer megamenu-block {
  .megamenu-block {
    padding: 36px var(--pad-inline);
    display: grid;

    &[data-megamenu-block='medium'] {
      grid-template-columns: repeat(2, 1fr);
      gap: 32px 36px;
    }

    &[data-megamenu-block='small'] {
      gap: 16px;
    }

    .megamenu-block-image {
      position: absolute;
      z-index: 0;
      bottom: 0;
      right: 0;
      max-width: 100%;
    }
  }
}
